# Gradle
.gradle/
build/
/build
/*/build/

# IDE
.settings/
.project
.classpath
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Compiled
*.class
/*/out/
out/

# OS
.DS_Store
Thumbs.db

# Properties
/local.properties

# Test output
bin/
